body {
  font-family: Georgia, serif;
  color: #262220;
  background-color: #f8f5f0;
}

header {
  text-align: center;
  background-color: #5B765B;
  color: #ffffff;
  padding: 20px;
}

header nav a {
  text-align: center
  color: #ffffff;
  margin-right: 16px;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 1.25rem;
  color: #ffffff;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

footer {
  font-size: 0.875rem;
  color: #474747;
  padding: 20px;
}
