body {
  font-family: Georgia, serif;
  color: #262220;
  background-color: f8f5f0;
}

header {
  text-align: center;
  background-color: #5B765B;
  color: #ffffff;
  padding: 20px;
}

header nav a {
  text-align: center
  color: #ffffff;
  margin-right: 16px;
}

nav a[aria-current="page"] {
  font-weight: bold;
  font-family: Georgia, serif
  color: #ffffff;
  font-size: 1.25rem
  text-decoration: underline;
}

a:visited {
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 3.0rem;
}

h2 {
  text-align: center;
  font-size: 1.25rem;
  color: #ffffff;
}

p {
  font-size: 1.25rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 30px;
}

footer {
  text-align: center;
  font-size: 0.875rem;
  color: #666666;
  padding: 20px;
}

h3 {
  font-size: 1.25rem;
  color: #3D3D3D;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #6b3e26;
  padding: 0.5rem;
  text-align: center
  text-align: left;
}

th {
  background-color: #5B765B;
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #c1d9c1;
}

h4 {
  font-size: 1.50rem;
  color: #242424
}

caption {
  font-size: 1.25rem;
  color: #3D3D3D;
}
