body {
  font-family: Georgia, serif;
  color: #262220;
  background-color: #f8f5f0;
}

header {
  text-align: center;
  background-color: #2f4a3d;
  color: #ffffff;
  padding: 20px;
}

header nav a {
  color: #ffffff;
  margin-right: 16px;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 1.00rem;
  color: #2f4a3d;
}
